<div class="container">
  <div class="row">
    <div class="col-sm-8 col-sm-offset-2">
        <h1><%= @restaurant.name %></h1>
      <hr>
      <p> Address: <%= @restaurant.address %> </p>
      <hr>
      <p> Phone: <%= @restaurant.phone_number %> </p>
      <hr>
      <p> Category: <%= @restaurant.category %> </p>
      <hr>
      <h4>Reviews: </h4>
      <div class="list-group">
        <% @restaurant.reviews.each do |review| %>
          <li class='list-group-item mb-3'> "<%= review.content %>" | <%= review.rating %></li>
        <% end %>
      </div>
      <%= link_to new_restaurant_review_path(@restaurant), class: "btn btn-primary" do %>
        <i class ="fa fa-comment"></i>
        Write a review
      <% end %>
      <%= link_to "Back to restaurants", restaurants_path, class: "btn btn-primary"  %>
    </div>
  </div>
</div>

